<head>
  <meta charset="UTF-8">
  <title><%= @user.name %>'s To-Do List</title>
  <link rel='stylesheet' type='text/css' href='style.css'>
</head>
<body>
  <h1><%= @user.name %>'s To-do List</h1>
  <p>
    <a href="/">back</a>
  </p>
  <ul>
    <% @tasks.each do |task| %>
    <li>
      <a href='/delete_item/<%= task.id %>'>
        <label>Done</label>
      </a>
      <%= task.description %>
      <%= task.id %>
      <% unless blank? task.due_date %> <em> - <%= task.due_date %></em><% end %>
    </li>
    <% end %>
  </ul>
  <form action='/<%= @user.id %>/new_item' method='POST'>
    Add item to list:
    <input type='text' name='description' placeholder='Item' />
    <input type='text' name='due_date' placeholder='Date [yyyy/mm/dd]' />
    <input type='submit' value='Add'>
  </form>
</body>
